.App {
  text-align: center;
  padding: 0 auto;
}

img {
  width: 100%;
}

.container{
  display: flex;
}
.item{
  flex: 1;
  position: relative;
  overflow: hidden;
}


.overlay{
  transition: bottom ease 1s;
  position: absolute;
  bottom: -100px;
  background-color: yellow;
  left: 0;
  opacity: 0.6;
  width: 100%;
}

.item:hover .overlay{
  opacity: 0.6;
  bottom: 0;
}

@media only screen and (max-width: 700px) {

  .container{
    display: block;
  }
}
